.contact {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  margin: 50px 0 0 0;

  @mixin atMedium {
    margin-top: 150px;
  }

  &__image {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: right;
    @mixin atMedium {
      display: block;
    }
  }

  &__page {
    position: relative;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 100%;

    @mixin atMedium {
      min-width: 600px;
      width: 50%;
    }
  }

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &__text {
    width: 85%;
    max-width: 500px;
    margin-top: -20px;
  }

  &__form {
    width: 100%;
    max-width: 550px;
    margin-top: 50px;
  }

  &__label {
    display: block;
    color: var(--gray);
    font-size: 0.875em;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }

  &__input, &__message {
    width: 100%;
    margin-bottom: 40px;
    background-color: transparent;
    color: var(--gray);

    &:hover, &:focus {
      outline: none;
      border-color: var(--main-color);
    }
  }

  &__input {
    border: none;
    border-bottom: solid 2px var(--gray);
  }

  &__message {
    margin-top: 5px;
    border: solid 2px var(--gray);
  }

  &__submit {
    border: none;
    margin: 0 auto;
    letter-spacing: 1px;
    cursor: pointer;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &__aside {
    text-align: center;
    font-size: 0.875em;
    color: var(--gray);
    letter-spacing: 0.5px;

    @mixin atMedium {
      display: inline-block;
      width: 300px;
      margin-left: 10px;
    }
  }

  &__aside-span {
    color: var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);

    &:hover, &:focus {
      color: var(--main-color);
      border-color: var(--main-color);
    }
  }
}