.footer {

  &__subfooter {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.75rem;
    text-align: center;
    align-items: center;
  }

  &__copyright {
    padding: 15px;
    margin: 0;
  }
}