.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 550px;

  &__image {
    display: none;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: left;

    @mixin atMedium {
      display: block;
    }
  }

  &__page {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    min-height: 550px;
    width: 100%;
    background-color: white;
    
    @mixin atMedium {
      min-width: 800px;
      width: 50%;
    }
  }

  &__container {
    position: absolute;
    padding-top: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    @mixin atMedium {
      left: 100px;
      transform: translateY(-50%);
      width: 70%;
    }
  }

  &__subheading {
    margin-top: 40px;
    margin-bottom: 0;
  }

  &__link {
    display: none;
    
    @mixin atLarge {
      position: absolute;
      bottom: -125px;
      text-decoration: none;
      color: var(--gray);
      font-weight: 600;
    }
  }
}