.hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__image {
    height: 100%;
  }

  &__page {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--white);
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }

  &__subheading {
    margin-top: 40px;
    margin-bottom: 0;
  }

  &__link {
    position: absolute;
    left: 50px;
    bottom: 20px;
    text-decoration: none;
    color: var(--gray);
    font-weight: 600;
  }
}