.intro {

  &__container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    row-gap: 50px;

    @mixin atLarge {
      grid-template-columns: 500px auto;
      grid-column-gap: 100px;
      max-width: 1200px;
      align-items: center;
    }
  }
}