.process {

  &__container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    margin: 80px auto 0 auto;
    width: max-content;

    @mixin atSmall {
      grid-column-gap: 100px;
      grid-row-gap: 50px;
    }

    @mixin atMedium {
      grid-template-columns: repeat(3, 100px);
    }

    @mixin atLarge {
      grid-template-columns: repeat(6, 100px);
    }
  }

  &__item {
    position: relative;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__arrow {
    display: none;
    position: absolute;
    top: 30%;
    right: -70px;

    @mixin atMedium {
      display: block;
    }
  }
}