.services {

  &__container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 400px;

    @mixin atMedium {
      width: max-content;
      max-width: 1100px;
      grid-template-columns: 300px 300px;
    }

    @mixin atLarge {
      grid-template-columns: 300px 300px 300px;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    background-color: var(--gray);
    margin: 0 auto 30px auto;
  }
}