.work {
  position: relative;
  width: 100vw;
  height: 850px;
  background-color: var(--black);

  &__container {
    display: grid;
    grid-template-columns: 400px 900px;
    grid-column-gap: 100px;
    align-items: center;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}