.work {
  position: relative;
  width: 100vw;
  height: max-content;
  background-color: var(--black);
  margin-top: 150px;

  &__container {
    display: grid;
    grid-template-columns: 400px 900px;
    grid-column-gap: 100px;
    grid-row-gap: 150px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    padding: 150px 0;
  }
}