.work {
  position: relative;
  width: 100vw;
  height: max-content;
  background-color: var(--black);
  margin-top: 150px;

  &__container {
    display: grid;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
    row-gap: 50px;

    @mixin atLarge {
      grid-template-columns: 400px minmax(400px, auto);
      grid-column-gap: 100px;
      grid-row-gap: 150px;
      align-items: center;
      max-width: 1200px;
      padding: 150px 0;
    }
  }
}