.line {
  height: 2px;
  width: 90px;
  background-color: var(--gray);

  &--center {
    margin: 0 auto;
  }

  &--m-bottom {
    margin-bottom: 40px;
  }

  &--m-top {
    margin-top: -15px;
    margin-bottom: 25px;
  }
}