.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transition: 0s;

  @mixin atMedium {
    height: 120px;
  }

  &__logo {
    font-family: 'Playfair Display', 'Cormorant Garamond';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 12px;
    text-decoration: none;
    color: var(--black);

    @mixin atMedium {
      font-size: 1.5rem;
      color: var(--white);
    }

    &--small {
      font-size: 1rem;
      letter-spacing: 8px;
      color: var(--black);
    }

    &--small  &-span {
      border-color: var(--black);
      padding: 5px 9px;
      margin-right: 10px;
    }
  }

  &__logo-span {
    display: inline-block;
    padding: 5px 14px;
    border: 2px solid var(--black);
    letter-spacing: 0;
    margin-right: 15px;

    @mixin atMedium {
      border: 2px solid var(--white);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: none;
    font-size: 0.8rem;

    @mixin atLarge {
      display: flex;
    }

    &:hover .nav__link {
      color: #999;
    }

    &:hover .nav__link:hover {
      color: var(--black);
    }

    &--small {
      transform: scale(0.9);
      transform-origin: center right;
    }
  }

  &__section {
    margin: 25px;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    transition: color 0.25s;
  }

  &__contact {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    border: 3px solid var(--black);
    padding: 20px 40px;
    transition: all 0.2s;

    &:hover {
      background-color: var(--black);
      color: white;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &--fixed {
    position: fixed;
    background-color: var(--pure-white);
    height: 80px;
    opacity: 1;
    transition: opacity 0.75s;
  }
}