.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  transition: 0s;

  @mixin atMedium {
    padding: 0 50px;
  }

  @mixin atLarge {
    height: 120px;
  }

  &__logo {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 12px;
    text-decoration: none;
    color: var(--black);
    margin-top: 10px;
    z-index: 5;

    @mixin atMedium {
      font-size: 1.5rem;
      margin-top: 0;
    }

    @mixin atLarge {
      color: var(--white);
    }

    &:focus {
      transform: scale(1.1);
    }

    &--is-small {
      font-size: 1rem;
      letter-spacing: 8px;
      color: var(--black);
    }

    &--is-small  &-span {
      border-color: var(--black);
      padding: 5px 9px;
      margin-right: 10px;
    }
  }

  &__logo-span {
    display: inline-block;
    padding: 5px 14px;
    border: 2px solid var(--black);
    letter-spacing: 0;
    margin-right: 15px;

    @mixin atLarge {
      border: 2px solid var(--white);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: none;
    font-size: 0.8rem;

    @mixin atLarge {
      display: flex;
    }

    &:hover .nav__link {
      color: #999;
    }

    &:hover .nav__link:hover {
      color: var(--black);
    }

    &--is-small {
      @mixin atLarge {
        transform: scale(0.9);
        transform-origin: center right;
      }
    }

    &--is-visible {
      display: grid;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 50px 0;
      width: 80vw;
      text-align: center;
    }
  }

  &__section {
    margin: 25px;
    list-style-type: none;

    &:nth-child(5) {
      margin: 40px;
      @mixin atLarge {
        margin: 25px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    transition: color 0.25s;

    &:focus {
      color: var(--main-color);
    }
  }

  &__contact {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    border: 3px solid var(--black);
    padding: 20px 40px;
    transition: all 0.2s;

    &:hover, &:focus {
      background-color: var(--black);
      color: white;
    }
  }

  &--is-hidden {
    opacity: 0;
  }

  &--is-fixed {
    position: fixed;
    background-color: var(--pure-white);
    height: 80px;
    opacity: 1;
    transition: opacity 0.75s;
  }
}