.text {

  &__paragraph {
    line-height: 1.75;
    color: var(--gray);
    responsive-font-size: 1rem;
  }

  &__heading {
    font-family: 'Playfair Display', 'Cormorant Garamond';
    font-weight: 400;
    responsive-font-size: 2.75rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 auto 40px 0;
    max-width: 770px;
  }

  &__subheading {
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--gray);
    responsive-font-size: 1rem;
    margin: 0 0 10px;
  }

  &__item-heading {
    color: var(--black);
    font-weight: 600;    
  }

  &--center {
    margin-left: auto;
  }

  &--short {
    max-width: 450px;
  }

  &--white {
    color: var(--white);
  }
  &--hidden {
    display: none;
    @mixin atMedium {
      display: inline;
    }
  }
}